<div class="button-container">
  <button routerLink="/home">Volver</button>
  <button routerLink="/logIngresos">Log Ingresos</button>
  <button routerLink="/cantidadTurnosEspecialidad">
    Cantidad Turnos Especialidad
  </button>
  <button routerLink="/cantidadTurnosPorDia">Cantidad Turnos Por dia</button>
  <button routerLink="/cantidadTurnosSolicitados">
    Cantidad Turnos Solicitados por Especialista
  </button>
  <button routerLink="/cantidadTurnosFinalizados">
    Cantidad Turnos Finalizados
  </button>
</div>
