<div class="main-container">
  <div class="formulario-contenedor">
    <div class="sacar-turno">
      <h1>Seleccione especialista</h1>
      <div class="profesionales-container">
        <br />
        <button
          *ngFor="let especialista of especialistas"
          class="profesional-btn"
          (click)="onEspecialistaSeleccionado(especialista)"
          [class.selected]="especialistaSeleccionado === especialista"
        >
          <img
            [src]="especialista.imagenesPerfil"
            alt="imagen perfil"
            width="40"
            height="40"
          />
          <span>{{ especialista.nombre }}</span>
        </button>
      </div>

      <div *ngIf="especialistaSeleccionado" class="container-especialidades">
        <p>Especialidad</p>

        <div class="especialidades-container">
          <button
            *ngFor="let especialidad of especialidades"
            class="especialidad-btn"
            (click)="onEspecialidadSeleccionada(especialidad)"
            [class.selected]="
              especialidadEspecialistaSeleccionado === especialidad
            "
          >
            <img
              [src]="getImagenEspecialidad(especialidad)"
              alt="{{ especialidad }}"
              (error)="onImageError($event)"
            />
            <span>{{ especialidad }}</span>
          </button>
        </div>
      </div>

      <div class="container-dias-atencion">
        <p>Dias de atencion</p>
        <input
          list="diasDeAtencion"
          type="text"
          placeholder="Elija un dia"
          [(ngModel)]="diaSeleccionado"
        />

        <datalist id="diasDeAtencion">
          <option
            *ngFor="let dia of especialistaSeleccionado?.DiasQueAtiendo"
            [value]="dia"
          ></option>
        </datalist>
      </div>

      <br /><br />
      <button (click)="sacarTurno()">Aceptar</button>
      <button routerLink="/home">Volver</button>
      <button (click)="limpiarCampos()">Limpiar</button>
    </div>
  </div>

  <div class="container-dias" *ngIf="diaSeleccionado">
    <p>Seleccione una fecha para el turno</p>
    <div class="dias-container" *ngFor="let dia of proximoQuinceDias">
      <button
        *ngIf="dia.nombreDia === diaSeleccionado"
        class="elegir-dias"
        [class.selected]="estaSeleccionado(dia)"
        (click)="elegirSeleccion(dia)"
        [ngClass]="{
          lunes: dia.nombreDia === 'lunes',
          martes: dia.nombreDia === 'martes',
          miercoles: dia.nombreDia === 'miércoles',
          jueves: dia.nombreDia === 'jueves',
          viernes: dia.nombreDia === 'viernes',
          sabado: dia.nombreDia === 'sábado',
          domingo: dia.nombreDia === 'domingo'
        }"
      >
        Día: {{ dia.nombreDia }}
        <br />
        Fecha: {{ dia.fecha }}
      </button>
    </div>
  </div>

  <div class="container-horarios" *ngIf="diaSeleccionado">
    <p>Seleccione un horario de atención</p>
    <div class="horarios-container">
      <button
        *ngFor="let horario of horarios"
        class="elegir-horario"
        [class.ocupado]="horariosOcupados.includes(horario)"
        [class.selected]="horarioSeleccionado === horario"
        (click)="
          !horariosOcupados.includes(horario) && seleccionarHorario(horario)
        "
      >
        {{ horario }}
      </button>
    </div>
  </div>
</div>
