<div class="contenedor-filtro"></div>

<div class="contenedor-turnos">
  <input type="text" [(ngModel)]="filtro" />
  <div class="turnos-solicitados" *ngFor="let turno of filtrarTurnosInput()">
    <p>Turno</p>
    <div *ngIf="tipoUsuario === 'Paciente'">
      <strong>Especialista:</strong> {{ turno.nombreEspecialista }}
    </div>
    <div *ngIf="tipoUsuario === 'Especialista'">
      <strong>Paciente:</strong> {{ turno.nombrePaciente }}
    </div>

    <div><strong>Especialidad:</strong> {{ turno.especialidad }}</div>

    <div><strong>Fecha:</strong> {{ turno.Fecha }}</div>
    <div><strong>Día:</strong> {{ turno.Dia }}</div>
    <div><strong>Hora:</strong>{{ turno.Hora }}</div>
    <div><strong>Estado:</strong> {{ turno.estadoTurno }}</div>

    <button
      *ngIf="
        turno.estadoTurno === 'activo' && this.tipoUsuario === 'Especialista'
      "
      (click)="aceptarTurno(turno)"
    >
      Aceptar Turno
    </button>

    <button
      *ngIf="turno.estadoTurno === 'aceptado' || turno.estadoTurno === 'activo'"
      (click)="cancelarTurno(turno)"
    >
      Cancelar Turno
    </button>

    <button
      *ngIf="turno.estadoTurno === 'activo' && tipoUsuario === 'Especialista'"
      (click)="rechazarTurno(turno)"
    >
      Rechazar turno
    </button>

    <button
      *ngIf="
        turno.estadoTurno === 'aceptado' &&
        usuarioActual.nivel === 'Especialista'
      "
      (click)="finalizarTurno(turno)"
    >
      Finalizar turno
    </button>

    <button
      *ngIf="
        turno.estadoTurno === 'finalizado' &&
        usuarioActual.nivel === 'Especialista'
      "
      (click)="mostrarFormularioHistoriaClinica(turno)"
    >
      Historia Clinica
    </button>

    <div *ngIf="turno.mostrarFormularioHistoriaClinica">
      <h3>Historia Clínica</h3>
      <form (ngSubmit)="guardarHistoriaClinica(turno)">
        <div>
          <label for="altura">Altura (cm):</label>
          <input
            type="number"
            [(ngModel)]="turno.historiaClinica.altura"
            name="altura"
          />
        </div>
        <div>
          <label for="peso">Peso (kg):</label>
          <input
            type="number"
            [(ngModel)]="turno.historiaClinica.peso"
            name="peso"
          />
        </div>
        <div>
          <label for="temperatura">Temperatura (°C):</label>
          <input
            type="number"
            [(ngModel)]="turno.historiaClinica.temperatura"
            name="temperatura"
          />
        </div>
        <div>
          <label for="presion">Presión:</label>
          <input
            type="text"
            [(ngModel)]="turno.historiaClinica.presion"
            name="presion"
          />
        </div>
        <div>
          <h4>Datos Adicionales</h4>
          <div
            *ngFor="
              let dato of turno.historiaClinica.datosDinamicos;
              let i = index
            "
          >
            <label>Clave:</label>
            <input type="text" [(ngModel)]="dato.clave" [name]="'clave' + i" />
            <label>Valor:</label>
            <input type="text" [(ngModel)]="dato.valor" [name]="'valor' + i" />
            <button type="button" (click)="eliminarDatoDinamico(turno, i)">
              Eliminar
            </button>
          </div>
          <button type="button" (click)="agregarDatoDinamico(turno)">
            Agregar Dato
          </button>
        </div>
        <button type="submit">Guardar Historia Clínica</button>
      </form>
    </div>

    <div *ngIf="turno.mostrarComentario">
      <textarea
        [(ngModel)]="turno.comentario"
        placeholder="Escribe el motivo de la cancelacion"
      ></textarea>
      <button (click)="guardarComentario(turno)">Guardar comentario</button>
    </div>

    <button
      *ngIf="
        turno.estadoTurno === 'cancelado' ||
        turno.estadoTurno === 'finalizado' ||
        turno.estadoTurno === 'rechazado'
      "
      (click)="mostrarResenia(turno)"
    >
      Ver resenia
    </button>

    <div *ngIf="turno.resenia">
      <strong>Resenia:</strong>
      <p>{{ turno.comentarioCancelacion }}</p>
      <p>{{ turno.comentarioCancelacionEspecialista }}</p>
      <p>{{ turno.comentarioCancelacionPaciente }}</p>
      <p>{{ turno.comentarioCancelacionAdmin }}</p>
    </div>

    <button
      *ngIf="
        turno.estadoTurno === 'finalizado' && this.tipoUsuario === 'Paciente'
      "
    >
      Completar encuesta
    </button>
    <button
      *ngIf="
        turno.estadoTurno === 'finalizado' && this.tipoUsuario === 'Paciente'
      "
    >
      Calificar Atencion
    </button>
  </div>
</div>

<button routerLink="/home">Volver</button>
