.container-principal {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en filas si son demasiados */
  gap: 20px; /* Espacio entre los pacientes */
  justify-content: center; /* Centra los pacientes horizontalmente */
  padding: 20px;
}

.paciente-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 250px; /* Ajusta el ancho de las tarjetas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Datos del paciente alineados verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  text-align: center;
}

.historial-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  width: 100%; /* Asegura que los historiales ocupen todo el ancho disponible */
  text-align: left; /* Alinea el texto a la izquierda */
}

.volver-container {
  position: fixed; /* Fija el botón en la parte superior */
  top: 10px; /* Margen desde la parte superior */
  left: 10px; /* Margen desde la izquierda */
  z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
}

.volver-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.volver-container button:hover {
  background-color: #0056b3;
}
