<div class="volver-container">
  <button routerLink="/home">Volver</button>
</div>

<div class="container-principal">
  <div class="pacientes-container">
    <button
      *ngFor="let paciente of pacientes"
      class="fav-button"
      [ngClass]="{ 'sin-historial': !tieneHistorial(paciente.uid) }"
      (click)="descargarInformacionCompleta(paciente)"
    >
      <img
        [src]="paciente.imagenesPerfil"
        alt="{{ paciente.nombre }} {{ paciente.apellido }}"
        class="paciente-img"
      />
      <span>{{ paciente.nombre }} {{ paciente.apellido }}</span>
    </button>
  </div>
</div>

<!-- <div class="paciente-card" *ngFor="let paciente of pacientes">
  <button (click)="descargarInformacionCompleta(paciente)">
    Descargar Información
  </button>
  <h3>Nombre y Apellido:</h3>
  <p>{{ paciente.nombre }} {{ paciente.apellido }}</p>
  <p><strong>Historial Clínico:</strong></p>

  <ng-container *ngIf="tieneHistorial(paciente.uid); else noHistorial">
    <div
      class="historial-card"
      *ngFor="let historiaClinica of historialesClinicos"
    >
      <div *ngIf="historiaClinica.pacienteUid === paciente.uid">
        <p>
          <strong>Altura:</strong> {{ historiaClinica.historial.altura }} cm
        </p>
        <p><strong>Peso:</strong> {{ historiaClinica.historial.peso }} kg</p>
        <p>
          <strong>Temperatura:</strong>
          {{ historiaClinica.historial.temperatura }} °C
        </p>
        <p>
          <strong>Presión:</strong> {{ historiaClinica.historial.presion }}
        </p>
        <ul>
          <li *ngFor="let dato of historiaClinica.historial.datosDinamicos">
            <strong>Clave:</strong> {{ dato.clave }} - <br />
            <strong>Valor:</strong> {{ dato.valor }}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-template #noHistorial>
    <p>No se ha encontrado historial clínico para este paciente.</p>
  </ng-template>
</div> -->
