<div class="contenedor-filtro"></div>

<div class="contenedor-turnos">
  <input type="text" [(ngModel)]="filtro" />
  <div class="turnos-solicitados" *ngFor="let turno of filtrarTurnosInput()">
    <h3>TURNO</h3>

    <div class="dato-turno">
      <strong>Especialista:</strong>
      <span> {{ turno.nombreEspecialista }}</span>
    </div>
    <div class="dato-turno">
      <strong>Especialidad:</strong><span>{{ turno.especialidad }}</span>
    </div>
    <div class="dato-turno">
      <strong>Fecha:</strong><span> {{ turno.Fecha }}</span>
    </div>
    <div class="dato-turno">
      <strong>Día:</strong> <span>{{ turno.Dia }}</span>
    </div>
    <div class="dato-turno">
      <strong>Hora:</strong> <span>{{ turno.Hora }}</span>
    </div>
    <div class="dato-turno">
      <strong>Estado:</strong><span>{{ turno.estadoTurno }}</span>
    </div>

    <button
      *ngIf="turno.estadoTurno === 'activo'"
      (click)="cancelarTurno(turno)"
    >
      Cancelar Turno
    </button>

    <div *ngIf="turno.mostrarComentario">
      <textarea
        [(ngModel)]="turno.comentario"
        placeholder="Escribe el motivo de la cancelacion"
      ></textarea>
      <button (click)="guardarComentario(turno)">Guardar comentario</button>
    </div>

    <div *ngIf="turno.resenia">
      <strong>Resenia:</strong>
      <p>{{ turno.comentarioCancelacion }}</p>
      <p>{{ turno.comentarioCancelacionEspecialista }}</p>
      <p>{{ turno.comentarioCancelacionPaciente }}</p>
    </div>
  </div>
</div>

<button routerLink="/home">Volver</button>
