<div *ngIf="mostrarComponente" @slideInFromTop>
  <div class="contenedor">
    <button
      appReziceOnHover
      routerLink="/seccionUsuarios"
      *ngIf="nivel === 'Administrador'"
    >
      Seccion Usuarios
    </button>

    <button
      appReziceOnHover
      routerLink="/solicitarTurnos"
      *ngIf="nivel === 'Administrador' || nivel === 'Paciente'"
    >
      Solicitar Turno
    </button>

    <button
      appReziceOnHover
      routerLink="/misTurnos"
      *ngIf="usuarioActualCamposCompletos.nivel !== 'Administrador'"
    >
      Mis Turnos
    </button>

    <button
      appReziceOnHover
      routerLink="/turnos"
      *ngIf="usuarioActualCamposCompletos.nivel === 'Administrador'"
    >
      Turnos
    </button>

    <button
      appReziceOnHover
      routerLink="/usuarios"
      *ngIf="usuarioActualCamposCompletos.nivel === 'Administrador'"
    >
      Usuarios
    </button>

    <button
      appReziceOnHover
      routerLink="/graficosEstadisticas"
      *ngIf="usuarioActualCamposCompletos.nivel === 'Administrador'"
    >
      Graficos y Estadisticas
    </button>

    <button
      appReziceOnHover
      routerLink="/pacientes"
      *ngIf="usuarioActualCamposCompletos.nivel === 'Especialista'"
    >
      Pacientes
    </button>

    <button appReziceOnHover routerLink="/miPerfil">Mi perfil</button>

    <button appReziceOnHover (click)="desloguear()">Desloguear</button>

    <div class="usuario-info">
      <span class="nombre-usuario">
        {{ this.usuarioActualCamposCompletos.nombre }}
      </span>
      <img
        src="{{ this.usuarioActualCamposCompletos.imagenesPerfil }}"
        alt="imagenUsuario"
        class="imagen-usuario"
      />
    </div>
  </div>

  <div class="contenido-bajo-barra">
    <p>hola pipol</p>
  </div>
</div>
